<!DOCTYPE html>
<html>
  <head>
    <title>Messenger</title>
    <%= csrf_meta_tags %>
    <meta name="jwt-token" content=<%= @auth_token %>></meta>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <div id="app"></div>
    <%= yield %>

    <div class="flash-message">
     <p class="notice"><%= notice %></p>
     <p class="alert"><%= alert %></p>
    </div>
  </body>
</html>
